name: Build macOS Executable

on:
  push:
    branches:
      - main  # Adjust this to your preferred branch

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller playwright reportlab pillow requests tk
          
      - name: Install Chromium for Playwright
        env:
          PLAYWRIGHT_BROWSERS_PATH: 0
        run: playwright install chromium

      - name: Build macOS executable with PyInstaller
        run: |
          pyinstaller --onedir --noupx --windowed --add-data "lux_official_logo.png:." Scrapers.py
          
      - name: Upload macOS artifact
        uses: actions/upload-artifact@v3
        with:
          name: CarScraper-macOS
          path: dist/

